{%for message in messages%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>hey</strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

 {%endfor%}
{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/nuserStyle.css'%}">

    <link rel="stylesheet" href="{% static 'css/profile.css'%}" >
   
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      
      <a href="http://127.0.0.1:8000/accounts/accounts-orderList" style="text-decoration:none;">
        <span class="logo_name">CMS</span>
        </a>
    </div>
      <ul class="nav-links">
        <!-- <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
 -->        
 <li>
    <a href="http://127.0.0.1:8000/products/viewProduct">
      <i class='bx bx-box'></i>
      <span class="links_name">Product</span>
    </a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/products/addProducts">
      <i class='bx bx-box'></i>
      <span class="links_name" >Add Product</span>
    </a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/products/dailyUpdate">
      <i class='bx bx-edit' ></i>
      <span class="links_name">Daily Update</span>
    </a>
  </li>
  <li>
    <a href="{% url 'orderlist' %}">
      <i class='bx bx-list-ul' ></i>
      <span class="links_name">Order list</span>
    </a>
  </li>
  

  <li>
    <a href="http://127.0.0.1:8000/accounts/users">
      <i class='bx bxs-user' ></i>
      <span class="links_name">Users</span>
    </a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/accounts/changePasswordAdmin/{{request.session.user_id}}">
      <i class='bx bxs-key' ></i>
      <span class="links_name">Change Password</span>
    </a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/accounts/addUser">
      <i class='bx bxs-user' ></i>
      <span class= "links_name" >Add user</span>
    </a>
  </li>
  

  <li class="log_out">
     <a href="{% url 'logout' %}">
    
      <i class='bx bx-log-out'></i>
      <span class="links_name">Log out</span>
    </a>
  </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Admin Dashboard</span>
      </div>
     
      <div class="profile-details">
        {% comment %} <img src="" alt=""> {% endcomment %}
        <span class="admin_name">{{request.session.user_fullname}}</span>
        {% comment %} <i class='bx bx-chevron-down' ></i> {% endcomment %}
       
      </div>
    </nav>

        <div class="content">
            <header>Change Password</header>
            <form method="POST" action="#" name="form"   >
              {% csrf_token %} 
                <div class="field space">
                    <span class="bx bxs-lock-alt"></span>
                    <input type="password" name="oldpassword" class="pass-key" required placeholder=" Old Password">
                    <span class="show">SHOW</span>
                 </div>
               <div class="field space">
                  <span class="bx bxs-lock-alt"></span>
                  <input type="password" name="pass1" class="pass-key" required placeholder=" New Password">
                  <span class="show">SHOW</span>
               </div>
                  <div class="field space">
                     <span class="bx bxs-lock-alt"></span>
                     <input type="password" name="pass2" class="pass-key" required placeholder="Confirm Password">
                     <span class="show">SHOW</span>
               </div>
               
               <div class="field space">
                  <input type="submit" value="Change">
               </div>
            </form>  

      
   
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}


function validateform(){
  var pass1 = document.forms['form']['pass1'];
  var pass2 = document.forms['form']['pass2'];

  if(pass1 == pass2){
    return true;

  } else{
    alert("password should be same")
    return false;
  }

}
 </script>

</body>
</html>

