{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="{% static 'js/dupdate.js'%}"></script>
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      
      <a href="http://127.0.0.1:8000/accounts/accounts-orderList" style="text-decoration:none;">
        <span class="logo_name">CMS</span>
        </a>
    </div>
      <ul class="nav-links">
        <!-- <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
 -->        
 <li>
  <a href="http://127.0.0.1:8000/products/viewProduct">
    <i class='bx bx-box'></i>
    <span class="links_name">Product</span>
  </a>
</li>
<li>
  <a href="http://127.0.0.1:8000/products/addProducts">
    <i class='bx bx-box'></i>
    <span class="links_name" >Add Product</span>
  </a>
</li>
<li>
  <a href="http://127.0.0.1:8000/products/dailyUpdate">
    <i class='bx bx-edit' ></i>
    <span class="links_name">Daily Update</span>
  </a>
</li>
<li>
  <a href="{% url 'orderlist' %}">
    <i class='bx bx-list-ul' ></i>
    <span class="links_name">Order list</span>
  </a>
</li>


<li>
  <a href="http://127.0.0.1:8000/accounts/users">
    <i class='bx bxs-user' ></i>
    <span class="links_name">Users</span>
  </a>
</li>

<li>
  <a href="http://127.0.0.1:8000/accounts/changePasswordAdmin/{{request.session.user_id}}">
    <i class='bx bxs-key' ></i>
    <span class="links_name">Change Password</span>
  </a>
</li>

<li>
  <a href="http://127.0.0.1:8000/accounts/addUser">
    <i class='bx bxs-user' ></i>
    <span class= "links_name" >Add user</span>
  </a>
</li>


<li class="log_out">
   <a href="{% url 'logout' %}">
  
    <i class='bx bx-log-out'></i>
    <span class="links_name">Log out</span>
  </a>
</li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard"> Admin Dashboard</span>
      </div>
     
      <div class="profile-details">
        <!-- <img src="" alt=""> -->
        <span class="admin_name">{{request.session.user_fullname }}</span>
        {% comment %} <i class='bx bx-chevron-down' ></i> {% endcomment %}
       
      </div>
    </nav>

    <div class="home-content">
      <!-- <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Order</div>
            <div class="number">40,876</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Sales</div>
            <div class="number">38,876</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bxs-cart-add cart two' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Profit</div>
            <div class="number">$12,876</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart cart three' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Return</div>
            <div class="number">11,086</div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Down From Today</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart four' ></i>
        </div>
      </div> -->
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Product</div>
      <div class="table">
        <div class="table_header">


        </div>
          <div class="table_section">
        <table>
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Active &nbsp;&nbsp;&nbsp; <label class="selectAll-option"  for="chkbxAll"><input type="checkbox"   name="checks[]" value="{{p.id}}"  class="large" style="width: 15px; height:15px;" id="chkbxAll"> select all</label> </th>
                    
                </tr>
                <form action="" method="POST" >
                 {% csrf_token %}
                <tbody>
                  {% for p in prod%}
                    <tr>
                        <td>{{p.id}}</td>
                        <td><img src="{{p.product_photo.url}}"></td>
                        <td>{{p.product_name}}</td>
                        <td>
                            <div class="checkbox">
                                <input type="checkbox"  name="checks[]" value="{{p.id}}" id="select{{p.id}}"  class="select-option" style="width: 15px; height:15px;">
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% comment %} <tr>
                        <td>2</td>
                        <td><img src="dashboard/assets/"></td>
                        <td>Momo</td>
                        <td>
                            <div="checkbox">
                                <input type="checkbox"  class="large" style="width: 15px; height:15px;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><img src="dashboard/assets/"></td>
                        <td>Momo</td>
                        <td>
                            <div="checkbox">
                                <input type="checkbox"  class="large" style="width: 15px; height: 15px">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><img src="dashboard/assets/"></td>
                        <td>Momo</td>
                        <td>
                            <div="checkbox">
                                <input type="checkbox"  class="large" style="width: 15px; height:15px;">
                            </div>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><img src="dashboard/assets/"></td>
                        <td>Momo</td>
                        <td>
                            <div="checkbox">
                                <input type="checkbox"  class="large" style="width: 15px; height:15px;">
                            </div>
                        </td>
                        
                    </tr> {% endcomment %}
                </tbody>

            </thead>
        </table>
        <div class="row">
            <input type="submit" value="Update" style="border-radius: 12px; background-color: #45a049;">
        </div>

      <form>

    </div>
    </div>
    </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");


  function box(){
	var userval=confirm("Do you want to delete");
	if(userval==true){
		document.write("Delete");
	}
	else{
		document.write("No");
	}
}
}

</script>
</body>
</html>

