{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
    <link rel="stylesheet" href="{% static 'css/editproduct.css'%}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      
      <span class="logo_name">CMS</span>
    </div>
      <ul class="nav-links">
        <!-- <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
 -->        
 <li>
  <a href="http://127.0.0.1:8000/products/viewProduct">
    <i class='bx bx-box'></i>
    <span class="links_name">Product</span>
  </a>
</li>
<li>
  <a href="http://127.0.0.1:8000/products/addProducts">
    <i class='bx bx-box'></i>
    <span class="links_name" >Add Product</span>
  </a>
</li>
<li>
  <a href="http://127.0.0.1:8000/products/dailyUpdate">
    <i class='bx bx-edit' ></i>
    <span class="links_name">Daily Update</span>
  </a>
</li>
<li>
  <a href="{% url 'orderlist' %}">
    <i class='bx bx-list-ul' ></i>
    <span class="links_name">Order list</span>
  </a>
</li>


<li>
  <a href="http://127.0.0.1:8000/accounts/users">
    <i class='bx bxs-user' ></i>
    <span class="links_name">Users</span>
  </a>
</li>
<li>
  <a href="http://127.0.0.1:8000/accounts/changePasswordAdmin/{{request.session.user_id}}">
    <i class='bx bxs-key' ></i>
    <span class="links_name">Change Password</span>
  </a>
</li>
<li>
  <a href="http://127.0.0.1:8000/accounts/addUser">
    <i class='bx bxs-user' ></i>
    <span class= "links_name" >Add user</span>
  </a>
</li>
        <li>
    
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="row">
       
     
      <div class="profile-details">
        <!-- <img src="" alt=""> -->
        <span class="admin_name">Admin_name</span>
        <i class='bx bx-chevron-down' ></i>
       
      </div>
    </nav>

    <div class="home-content">

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Edit Product</div>
          <div class="sales-details">
            -
            <div class="container">
              {% for p in prod%}

                <form action="http://127.0.0.1:8000/products/updateProduct/{{p.id}}" method="POST">
                  {% csrf_token %}
                  
                  <div class="row">
                   
                    <div class="text">
                      <label for="fname">Product :</label>
                    </div>
                    <div class="field">
                      <input type="text" id="" name="product_name" value="{{p.product_name}}" placeholder="Product Name">
                    </div>
                  </div>
                  <div class="row">
                    <div class="text">
                      <label for="">Product Price :</label>
                    </div>
                    <div class="field">
                      <input type="text" id="" name="product_price" value= "{{p.product_price}}" placeholder="Product Price">
                    </div>
                  </div>
              
                  <div class="row">
                    <div class="text">
                      <label for="subject">Description :</label>
                    </div>
                    {% comment %} <div class="field">
                      <input id="text" value = "{{p.product_desc}}" name="product_desc"  placeholder="Write something.."  style="height:120px; ">
                    </div> {% endcomment %}
                    <div class="field">
                      <input type="text" id="" name="product_desc" value= "{{p.product_desc}}" placeholder="Product discreption" style="height:80px">
                    </div>
                  </div>
                  <div class="row">
                    <input type="submit" value="Edit">
                  </div>
                  {% endfor %}
                </form>
              </div>


        </div>
      </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>

