{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link  rel ="icon" href ="{% static 'image/logo.jpg'%}">
    <link rel="stylesheet" href="{% static 'css/fontpage.css' %} ">
    <link rel="stylesheet" href="{% static 'css/fontproduct.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
 
</head>
<body>
  <nav class="navbar">
    <div class="content">
      <div class="logo">
        <a href="http://127.0.0.1:8000/">CMS</a>
      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times"></i>
        </div>
        <li><a href="http://127.0.0.1:8000/">Home</a></li>
        <li><a href="http://127.0.0.1:8000/acms/about">About</a></li>
        <li><a href="http://127.0.0.1:8000/acms/product">Product</a></li>
        <!-- <li><a href="feedback.html">Feedback</a></li> -->
        <li><a href="http://127.0.0.1:8000/accounts/login"><i class="fas fa-user"></i>
        </a></li>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars"></i>
        
      </div>
    </div>
  </nav>

    <!-- Start All Pages -->
  <div class="all-page-title page-breadcrumb">
    <div class="container text-center">
   
        <div class="contact">
          <h1>Product</h1>
        
      </div>
    </div>
  </div>
  <!-- End All Pages -->

  <div class="heading-title">
    <h2>Product</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
  </div>

  <div class="contain">
    <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/momo.jpg'%}" alt="momo">
        </div>
        <div class="product-details">
          <h4><span class="menu">Chicken Momo</span>120<hr></h4>
          <!-- <h4><span class="menu">Veg. Momo</span>100<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
          </a>
          </div>
      </div>


      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/fired rice.jpg'%}" alt="fried rice">
        </div>
        <div class="product-details">
          <h4><span class="menu">Fried rice</span>90<hr></h4>
          <!-- <h4><span class="menu">Jhol Noodles</span>110<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
          </a>
        </div>
      </div>

      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/chatpate.jpg'%}" alt="chatpate">
        </div>
        <div class="product-details">
          <h4><span class="menu">Chatpate</span>100<hr></h4>
          <!-- <h4><span class="menu"></span><hr></h4> -->
            <a href="http://127.0.0.1:8000/accounts/login">
              <div class="field">
                <input type="submit" value="Order" id="order">
              </div>
            </a>
        </div>
      </div>

      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/chowmwin.jpg'%}" alt="chowmwin">
        </div>
        <div class="product-details">
          <h4><span class="menu">Chicken Chowmwin</span>120<hr></h4>
          <!-- <h4><span class="menu">Veg. Chowmin</span>100<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
          </a>
        </div>
      </div>

      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/samosa.jpg'%}" alt="samosa">
        </div>
        <div class="product-details">
          <h4><span class="menu">Samosa</span>20<hr></h4>
          <!-- <h4><span class="menu">Samosa Thakari</span>60<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
          </a>
        </div>
      </div>

      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/samosachaat.jpg'%}" alt="samosachaat">
        </div>
        <div class="product-details">
          <h4><span class="menu">Samosa Chaat</span>60<hr></h4>
          <!-- <h4><span class="menu">Veg. Chowmin</span>100<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
          </a>
        </div>
      </div>

      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/pakauda.jpg'%}" alt="cpakauda">
        </div>
        <div class="product-details">
          <h4><span class="menu">Pakauda</span>60<hr></h4>
          <!-- <h4><span class="menu">Veg. Chowmin</span>100<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
          </a>
        </div>
      </div>

      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/aalu chop.jpg'%}" alt="Aalu">
        </div>
        <div class="product-details">
          <h4><span class="menu">Aalu Chop</span>60<hr></h4>
          <!-- <h4><span class="menu">Veg. Chowmin</span>100<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
        </a>
        </div>
      </div>

      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/pizza.jpg'%}" alt="Pizza">
        </div>
        <div class="product-details">
          <h4><span class="menu">Small Pizza</span>80<hr></h4>
          <!-- <h4><span class="menu">Veg. Chowmin</span>100<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
          </a>
        
        </div>
      </div>

      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/sandwish.jpg'%}" alt="sandwish">
        </div>
        <div class="product-details">
          <h4><span class="menu">Sandwish</span>80<hr></h4>
          <!-- <h4><span class="menu">Veg. Chowmin</span>100<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
          </a>
        
        </div>
      </div>

      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/burger.jpg'%}" alt="burger">
        </div>
        <div class="product-details">
          <h4><span class="menu">burger</span>80<hr></h4>
          <!-- <h4><span class="menu">Veg. Chowmin</span>100<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
          </a>
        </div>
      </div>

      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/tea.jpg'%}" alt="tea">
        </div>
        <div class="product-details">
          <h4><span class="menu">Tea</span>25<hr></h4>
          <!-- <h4><span class="menu">Veg. Chowmin</span>100<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
          </a>
        </div>
      </div>

      
      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/roti.jpg'%}" alt="Roti">
        </div>
        <div class="product-details">
          <h4><span class="menu">Roti</span>60<hr></h4>
          <!-- <h4><span class="menu">Veg. Chowmin</span>100<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
          </a>
        </div>
      </div>

      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/khana.jpg'%}" alt="khana">
        </div>
        <div class="product-details">
          <h4><span class="menu">Veg. Khana</span>90<hr></h4>
          <!-- <h4><span class="menu">Veg. Chowmin</span>100<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
          </a>
        </div>
      </div>

      <div class="product-card">
        <div class="product-tumb">
          <img src="{% static 'image/aalu chilly.jpg'%}" alt="khana">
        </div>
        <div class="product-details">
          <h4><span class="menu">AALU CHILLY</span>90<hr></h4>
          <!-- <h4><span class="menu">Veg. Chowmin</span>100<hr></h4> -->
          <a href="http://127.0.0.1:8000/accounts/login">
            <div class="field">
              <input type="submit" value="Order" id="order">
            </div>
          </a>
        </div>
      </div>

    </div>
    
    <div class="parallax">
      <div class="quote">“Healthy food makes you feel good”</div>
        
    </div>

<footer class="footer">
     <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>About</h4>
          <p>Evening creature waters unto fill deep man given divided whales man kind Winged open us and there to multiply land evening under. Evening creature waters unto fill deep man given divided whales man kind Winged open us and there to multiply land evening under </p>
        </div>
        <div class="footer-col">
          <h4>Service</h4>
          <ul>
            <li><a>Hygienic food</a></li>
            <li><a>Friendly environment</a></li>
            <li><a>Affordable prices</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Quick Links</h4>
          <ul>
            <!-- <li><a href="menu.html">menu</a></li> -->
            <li><a href="login.html">login</a></li>
            <li><a href="signup.html">sign up</a></li>
          </ul>
        </div>
       
        <div class="footer-col">
          <h4>Contact</h4>
          <div class="info">
            <ul>
              <li><i class="fa fa-graduation-cap"></i> Apex College</li>
              <li><i class="fas fa-map"></i> 1261 Devkota Sadak Mid Baneshor,Kathmandu</li>
                <li><i class="fas fa-phone-volume"></i> 0656372678</li>
                <li><i class="fas fa-envelope"></i>info@gmail.com </li>
            </ul>
          </div>
        </div>
      </div>
     </div>
  </footer>
    <footer>
      <div class="container text-center text-light p-3"> <a href="index.html">ACMS</a>
      </div>
    </footer>
  


    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>